<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>NSHealthShareUsageDescription</key>
        <string>We need to read your health data to sync your activity, body measurements, and vitals
            within the app.
        </string>
    </dict>
</plist>
